@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&display=swap');

html,
body,
#root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle {
    clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
  }

  .nav-clip {
    clip-path: ellipse(40% 48% at 50% 50%);
  }
}
